@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans-kr: var(--font-noto-sans-kr);
    --font-serif-display: var(--font-playfair-display);
    --font-adobe-brim: "brim-narrow-combined-1", sans-serif;

    /* Light mode Colors */
    --background: #F9FAFB;
    --foreground: #171717;

    --bg-text-color: #A04632;
  }

  .font-sans {
    font-family: var(--font-sans-kr), sans-serif;
  }

  .font-serif {
    font-family: var(--font-serif-display), serif;
  }

  .font-adobe-brim {
    font-family: var(--font-adobe-brim), sans-serif;
  }
}

body {
  font-family: var(--font-sans-kr), sans-serif;

  background-color: var(--color-background);
  color: var(--color-foreground);
}
